 *{
    
    padding: 0%;
    list-style: none;

 }
 .son{
 justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 102, 0);
 }
 .som{
    align-items: center;
    object-fit: contain;
    margin-left: 100px;
 }
 .wen{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

 }
 .man h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: rgb(225, 41, 41);
}
.orient h2{
    text-align: center;
    padding-top: 50px;
    color: color-mix(in srgb, purple 50%, white 50%);
}