 *{
    
    padding: 0%;
    list-style: none;

 }
 .son{
   display: flex;
 justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 102, 0);
 }
 .som{
    align-items: center;
    object-fit: contain;
    margin-left: 100px;
 }
 .wen{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
justify-content: space-between;
 }
 .wen button{
    background-color: blueviolet;
margin-left: 1150px;
border-radius: 10px;
width: 80px;
height: 30px;
 }
 .wen button:hover{
   background-color: white;
   border-color: none;
 }
 .man h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: rgb(225, 41, 41);
}
.orient h1{
    text-align: center;
    padding-top: 50px;
    color: red;
    margin-left: 100px;
}

   .items ul{
      display: flex;
  }
  .items li{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 15px 30px;
      display: flex;
      font-size: 11px;
      text-transform: uppercase;
      color: rgb(3, 3, 3);
  }
  .items li:hover{
      color: rgb(245, 47, 47);
      cursor: pointer;
  }
  
